@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fill-adress-in-checkout-process {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    .line {
        margin-top: 20px;
        margin-bottom: 10px;
        width: 90%;
    }

    .buttons button{
        padding: 3px 15px;
        outline: none;
        margin: 5px 0;
        margin-right: 10px;
        font-family: 'Poppins';
        font-size: 14px;
        border-radius: 6px;
        color: #40B48A;
        border: 1px solid #40B48A;
        background: none;
        cursor: pointer;

        &.primary-btn {
            background: #40B48A;
            color: white;
        }

        &.gray-btn {
            color: #6D6D6D;
            border: 1px solid #898989;
        }
    }

    .address-choosen-container {
        width: 100%;
        padding: 0 30px;

        .title {
            font-size: 18px;
            font-weight: 500;
            color: #606060;
            margin: 10px 0;
        }

        .alert-empty {
            color: rgb(128, 128, 128);
            margin: 20px;
            font-size: 14px;
        }

        .address-list {
            margin: 0 10px;
            
            .address-item {
                position: relative;
                border: 1px solid #6A6A6A;
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 10px;
                max-width: 500px;
                width: 100%;

                &:not(.selector) {
                    cursor: pointer;
                }

                &.selector {
                    border: 1px solid #40B48A;
                }

                p {
                    font-size: 13px;
                    color: rgb(56, 56, 56);
                    &.name {
                        font-size: 13px;
                        font-weight: 600;
                        color: black;
                    }
                }

                .tick-box {
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(30%, -30%);
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
                    background: white;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            button.add-new {
                outline: none;
                font-family: 'Poppins';
                background: white;
                &:hover {
                    border: 1px solid #C76375;
                    color: #C76375;
                }
            }
        }

    }

    .dark-slide {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .5);
    }

    .address-editor {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background: white;
        border-radius: 10px;
        padding: 5px 15px;

        animation-name: smooth-appear;
        animation-duration: 0.3s;

        .inputs {
            display: flex;
            flex-direction: column;
            .input {
                @include flex-row-center();
                margin: 10px 0;
                .title {
                    margin: 0;
                    margin-right: 20px;
                    font-family: 'Poppins';
                    font-size: 15px;
                }

                input, textarea {
                    margin-right: 0px;
                    margin-left: auto;
                    width: 300px;
                    font-family: 'Poppins';
                    font-size: 14px;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid rgb(126, 126, 126);
                    padding: 5px;
                    resize: none;

                    &:focus {
                        // border: 1px solid rgb(5, 136, 114);
                        box-shadow: 0 0 2px rgb(5, 136, 114);
                    }
                }

                textarea {
                    min-height: 60px ;
                }
            }

        }
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 30px;
            button:nth-child(2) {
                margin-right: 0;
            }
        }

    }

    @keyframes smooth-appear {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .error-msg {
        font-size: 12px;
        color: rgb(212, 23, 23);
    }
}

@media screen and ( max-width: 580px ) {
    .fill-adress-in-checkout-process .address-choosen-container {
        padding: 10px;
        
        .title {
            text-align: center;
        }

        .alert-empty {
            text-align: center;
        }
    }
}

@media screen and ( max-width: 440px ) {
    .fill-adress-in-checkout-process .address-editor .inputs {
        margin: 10px;
        .input{
            flex-direction: column;
            align-items: start;
            .title {
                margin-left: 5px;
                margin-bottom: 5px;
            }

            input, textarea { 
                width: 70vw;
            }
        }
    }
}