@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin center-children {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-process-bar {
    position: relative;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    

    .lines-process {
        position: relative;
        @include flex-row-center();
        max-width: 600px;
        width: 100%;
        .line-connect {
            height: 10px;
            width: 100%;
            background: #D2D2D2;
            &.active {
                background: #C76375;
            }
        }

        .steps {
            position: absolute;
            @include flex-row-center();
            // max-width: 600px;
            width: 100%;
            .step {
                position: absolute;
                
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #767676;
                display: block;
                @include center-children();
    
                h3 {
                    position: absolute;
                    bottom: -70%;
                    font-family: 'Poppins';
                    font-size: 17px;
                    color: #999999;
                }

                
                &.active h3 {
                    color: #444444;
                }
                
                &.selector h3 {
                    color: #C76375;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .checkout-process-bar {
        transform: scale(0.7);
        padding: 30px;
    }
}